<h1>Submit a new Post</h1>
<%= form_for @post do |form|%>
	<%= form.label :title%>
	<%= form.text_field :title%>
	<%= form.label :audio_file%>
	<%= form.file_field :audio_file%>
	<%= form.submit 'Submit', class: 'btn btn-primary btn-lg' %>
<% end%>
<h1>List of Posts</h1>
<% @posts.each do |post|%>
	<%= post.title%>
	<a href="javascript:void(0)" id="playsound">At Station</a>

<audio id="sound_effect" class="audio_player" preload="auto">
    <source src= "<%= post.audio_file.url%>" type="audio/wav">
</audio>
	<%#= audio_tag(post.audio_file.url)%>
<% end%>
<script type="text/javascript">
$('#playsound').click(function (e) {
    $('#sound_effect')[0].currentTime = 0;
    $('#sound_effect')[0].play();
    return false;
});
</script>